<div id="christmas">
	<div class="card christmas">
		<h2 style="color: <%= christmascard.titlecolor %>"><%= christmascard.title %></h2>
		<div class="stump"></div>
		<div class="tree" style="border-bottom: 400px solid <%= christmascard.tree %>;"></div>
		<div class="light-one" style="background: <%= christmascard.lightone %>;"></div>
		<div class="light-two" style="background: <%= christmascard.lighttwo %>;"></div>
		<div class="light-three" style="background: <%= christmascard.lightthree %>;"></div>
		<div class="flake-one" style="background: <%= christmascard.flakeone %>;"></div>
		<div class="flake-two" style="background: <%= christmascard.flaketwo %>;"></div>
		<div class="flake-three" style="background: <%= christmascard.flakethree %>;"></div>
		<div class="snow" style="background: <%= christmascard.snow %>;"></div>
	</div>
</div>

<% if signed_in? %>

<div class="color-swatch">
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: aliceblue;">Aliceblue</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: aqua;">Aqua</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: black; color: #fff;">Black</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: blue; color: #fff;">Blue</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: blueviolet; color: #fff;">Blueviolet</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: brown; color: #fff;">Brown</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: burlywood;">Burlywood</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: cadetblue;">Cadetblue</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: chartreuse;">Chartreuse</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: chocolate;">Chocolate</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: coral;">Coral</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: cornflowerblue;">Cornflowerblue</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: crimson;">Crimson</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: cyan;">Cyan</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: darkblue; color: #fff;">Darkblue</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: darkgreen; color: #fff;">Darkgreen</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: darkmagenta; color: #fff;">Darkmagenta</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: darkorange;">Darkorange</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: deeppink;">Deeppink</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: forestgreen;">Forestgreen</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: gold;">Gold</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: grey;">Gray</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: green;">Green</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: hotpink;">Hotpink</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: lightsalmon;">Lightsalmon</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: lime;">Lime</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: olive;">Olive</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: orange;">Orange</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: peru;">Peru</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: pink;">Pink</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: plum;">Plum</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: red;">Red</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="color" style="background: silver;">Silver</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: skyblue;">Skyblue</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: teal;">Teal</div>
		</div>
		<div class="col-sm-3">
			<div class="color" style="background: yellow;">Yellow</div>
		</div>
	</div>
</div>

<div class="christmas-form">
	<%= form_for christmascard do |cc| %>
		
		<div class="row">
			<div class="col-sm-4">
				<%= cc.label "Tree color" %>
				<%= cc.text_field :tree, placeholder: "Tree color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Light one color" %>
				<%= cc.text_field :lightone, placeholder: "Light one color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Light two color" %>
				<%= cc.text_field :lighttwo, placeholder: "Light two color", class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= cc.label "Light three color" %>
				<%= cc.text_field :lightthree, placeholder: "Light three color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Snow color" %>
				<%= cc.text_field :snow, placeholder: "Snow color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Background color" %>	
				<%= cc.text_field :background, placeholder: "Background color", class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= cc.label "Snow flake one color" %>
				<%= cc.text_field :flakeone, placeholder: "Light three color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Snow flake two color" %>
				<%= cc.text_field :flaketwo, placeholder: "Light three color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Snow flake three color" %>
				<%= cc.text_field :flakethree, placeholder: "Light three color", class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= cc.label "Border color" %>
				<%= cc.text_field :border, placeholder: "Border color", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Title Message" %>
				<%= cc.text_field :title, placeholder: "Message", class: "form-control" %>
			</div>
			<div class="col-sm-4">
				<%= cc.label "Title Message Color" %>
				<%= cc.text_field :titlecolor, placeholder: "Message", class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<%= cc.submit "Save Card", class: "submit-btn" %>
			</div>
		</div>

	<% end %>

</div>

<div class="container">
	<div class="row">
		<h2>HTML Code</h2>
		<xmp>
<div class="card christmas">
	<h2>Merry Christmas!</h2>
	<div class="stump"></div>
	<div class="tree" style="background: <%= christmascard.tree %>;"></div>
	<div class="light-one" style="background: <%= christmascard.lightone %>;"></div>
	<div class="light-two" style="background: <%= christmascard.lighttwo %>;"></div>
	<div class="light-three" style="background: <%= christmascard.lightthree %>;"></div>
	<div class="flake-one" style="background: <%= christmascard.flakeone %>;"></div>
	<div class="flake-two" style="background: <%= christmascard.flaketwo %>;"></div>
	<div class="flake-three" style="background: <%= christmascard.flakethree %>;"></div>
	<div class="snow"></div>
</div>
		</xmp>

		<br><br><br>
		<h2>CSS Code</h2>
		<xmp>
.christmas h2 {
	position: absolute;
	top: 50px;
	right: 50px;
}

.tree {
	position: absolute;
	top: 80px;
	left: 125px;
	width: 0; 
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 400px solid <%= christmascard.tree %>;
}

.light-one {
 	position: absolute;
    left: 240px;
    top: 210px;
 	width: 25px;
 	height: 25px;
 	background: <%= christmascard.lightone %>;
 	border-radius: 13px;
}
.light-two {
 	position: absolute;
    left: 300px;
    top: 320px;
 	width: 25px;
 	height: 25px;
 	background: <%= christmascard.lightone %>;
 	border-radius: 13px;
}
.light-three {
 	position: absolute;
    left: 240px;
    top: 420px;
 	width: 25px;
 	height: 25px;
 	background: <%= christmascard.lightone %>;
 	border-radius: 13px;
}

.stump {
	background: saddlebrown;
	width: 75px;
	height: 100px;
	position: absolute;
	left: 230px;
	bottom: 50px;
}

.snow {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 75px;
	width: 100%;
	background: <%= christmascard.snow %>;
}
		</xmp>
	</div>
</div>


<% end %>