<%= form_for(@user) do |f| %>

	<div class="row">
		<div class="col-sm-12">
		  <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
		  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
		  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="button-container">
				<%= f.submit "Create", class: "button" %>
				<%= link_to 'Cancel', '/main/home', class: "button" %>
			</div>
		</div>
	</div>
<% end %>